{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="forms-container">   

    {% if not session['user'] %}<h2>Sign In</h2>
    <form action="{{ url_for('login') }}" method="POST">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <div class="input-row">
            <div class="input"><label for="email">Email</label></div>
            <div class="input"><input name="email" value="{{ form.email }}" /></div>
        </div>

        <div id ="password-row" class="input-row">
            <div class="input"><label for="password">Password</label></div>
            <div class="input"><input name="password" type="password" /></div>
        </div>

        <div class="input-row">
            <div class="input">&nbsp;</div>
            <div class="input"><button id="login-button">Log in</button></div>
        </div>

        <div class="input-row">
            <div class="input">&nbsp;</div>
            <div class="input" style="width: 20em;">
                <a href="{{ url_for('reset_password') }}">Forgot Password?</a>
            </div>
        </div>                  
    </form>
    {% else %}
        <div class="full-inner">
            You're already logged in as {{ session['user']['email'] }}.
        </div> 
    {% endif %}

    {% if not session['user'] %}
		<a name="create-an-account"></a><h2>Create an account</h2>
    <form action="{{ url_for('register') }}" method="POST">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <div class="input-row">
            <div class="input"><label for="email">Email</label></div>
            <div class="input"><input name="email" value="{{ form.email }}" /></div>
        </div>

        <div class="input-row">
            <div class="input">&nbsp;</div>
            <div class="input" style="width: 16em"><small>Your password will be emailed to you.</small></div>
        </div>

        <div class="input-row">
            <div class="input">&nbsp;</div>
            <div class="input"><button id="register-button">Register</button></div>
        </div>
    </form>
    {% endif %}            


</div>
{% endblock %}
