{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="full">   

    <h2>Forgot Password</h2>
    <div class="full-inner">
        <p>
             Enter the email you used to sign up with this site.
             A link to reset your password will be sent.
        </p>
        <form id="reset-form" action="{{ url_for('reset_password') }}" method="POST">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <div class="input-row">
                <div class="input"><label for="email">Email</label></div>
                <div class="input"><input name="email" value="" /></div>
            </div>

            <div class="input-row">
                <div class="input">&nbsp;</div>
                <div class="input"><input id="reset-button" type="submit" value="Reset Password" /></div>
            </div>
        </form>
    </div>    

</div>
{% endblock %}