{% extends 'base.html' %}
{% block content %}
<h1>Terms of Service</h1>
<p>By using and accessing this website, http://fatnest.com (collectively referred to as the "Site" or "fatnest" in these Terms of Service), you ("you", "user" or, "end user") agree to these Terms of Service (collectively, the "Terms of Service" or "Agreement").</p>

<p>IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT, IMMEDIATELY STOP ACCESSING THIS SITE.</p>

<p><strong>Intellectual Property.</strong><br />You acknowledge and agree that all content and information on the Site is protected by proprietary rights and laws.</p>


<p>You agree not to modify, copy, distribute, transmit, display, perform, reproduce, publish, license, transfer, create derivate work from, sell or re-sell any content or information obtained from or through the Site.</p>

<p><strong>Third-party Sites.</strong><br />The Site may contain links to other websites maintained by third-parties. These links are provided solely as a convenience and does not imply endorsement of, or association with, the party by fatnest.</p>

<p><strong>Modifications to this Agreement.</strong><br />fatnest reserves the right to change or modify any of the terms and conditions contained in this Agreement at any time. You acknowledge and agree that it is your responsibility to review the Site and these Terms of Service from time to time. Your continued use of the Site after such modifications to this Agreement will constitute acknowledgment of the modified Terms of Service and agreement to abide and be bound by the modified Terms of Service.</p>

<p><strong>Termination of Use.</strong><br />fatnest shall have the right to immediately terminate or suspend, in its discretion, your access to all or part of the Site with or without notice for any reason.</p>

<p><strong>Disclaimer of Warranty</strong><br />You expressly agree that use of the Site is at your sole risk and discretion. The Site and all content and other information contained on the Site is provided on an "AS IS" and "AS AVAILABLE" basis without warranty of any kind, whether express or implied. fatnest makes no warranty that (I) the Site and content or information will be uninterrupted, timely, secure or error-free, (II) the results that may be obtained from use of this Site will be effective, accurate or reliable. The Site may include technical mistakes, inaccuracies or typographical errors. fatnest reserves the right to change the Site content and information at any time without notice.</p>

<p><strong>Limitation of Liability.</strong><br />In no event shall fatnest or its affiliates be liable for any indirect, incidental, special, punitive damages or consequential damages of any kind, or any damages whatsoever arising out of or related to your use of the Site, the content and other information obtained therein.</p>

<p>Certain jurisdictions prohibit the exclusion or limitation of liability for consequential or incidental damages, thus the above limitations may not apply to you. </p>

<p><strong>Governing Law.</strong><br />Any disputes arising out of or related to these Terms of Service and/or any use by you of the Site shall be governed by the laws of the USA, without regard to the conflicts of laws provisions therein.</p>

<p><strong>Unicorns are real.</strong><br />Any evidence to the contrary as to the existence of unicorns shall be deemed inadmissible in any arbitration proceeding.</p>

<p><strong>Date of Last Update.</strong><br />This agreement was last updated on September 7, 2012.</p>
{% endblock %}
